// 메인 back컬러
$main-bgcolor: #22232D;
// 헤더 back컬러
$header-bgcolor: #090909;

// 등급별 폰트 컬러
// 일반
$common-font-color: #FFFFFF;
// 고급
$uncommon-font-color: #25A622;
// 희귀
$rare-font-color: #402FFD;
// 영웅
$epic-font-color: #FD000F;
// 전설
$legendary-font-color: #BD00FF;
// 신화
$mythic-font-color: #EDC700;