.find-pw {
  background-color: $main-bgcolor;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  &__img {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__content {
    height: 50%;

    &__noti {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0px;
      height: 303px;
      gap: 10px;

      &__text {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 10px;

        width: 707px;
        height: 220px;

        font-family: 'Noto Sans KR';
        font-style: normal;
        font-weight: 500;
        font-size: 23px;
        line-height: 33px;
        text-align: center;
        
        background: #383838;
        color: #FFFFFF;

        span {
          color: #EAD624;
          font-size: 26px;
          text-decoration-line: underline;
        }
      }
    }

    &__area {
      padding: 15px 0px;
      
      &__input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 105px;
        padding-top: 15px;
        gap: 10px;
  
        &__text {
          width: 670px;
          height: 79px;
          border: 0;
          padding: 0;
          padding-left: 37px;
          color: #7E7E7E;
  
          background: #383838;
          border-radius: 10px;
          font-family: 'Noto Sans KR';
          font-size: 23px;
          font-weight: 500;
          line-height: 33px;
          text-align: left;
        }
      }
    }
  }

  &__btn__area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // padding: 40px 0px 40px;
    gap: 13px;
  
    button {
      width: 707px;
      height: 95px;
      left: 606.5px;
      top: 45.5px;
      
      background: #140F4E;
      border-radius: 10px;
  
      font-size: 23px;
      font-weight: 500;
      color: #FFFFFF;
  
      border: 0;
      padding: 0;
    }
  
  }
}