.search-btn {
  // width: 347px;
  // height: 99px;
  border: 0;
  padding: 0;

  // background: #140F4E;
  border-radius: 10px;
  font-family: 'Noto Sans KR';
  font-size: 23px;
  font-weight: 500;
  color: #FFFFFF;
}