.main {
  background-color: $main-bgcolor;
  width: 100%;
  height: 100%;

  &__img {
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      cursor: pointer;
    }
  }

  &__search {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 65%;

    &__select {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 95px;
      padding: 0px;
      gap: 13px;

      &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 700px;
        height: 100%;
        background: #383838;
        color: #FFFFFF;
        text-align: center;

        font-style: normal;
        font-weight: 500;
        font-size: 23px;
        line-height: 33px;
        text-align: center;
      }
    }

    &__input {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 105px;
      padding: 5px 0px;
      gap: 10px;

      // &__text {
      //   width: 707px;
      //   height: 96px;
      //   border: 0;
      //   padding: 0;

      //   background: #383838;
      //   border-radius: 10px;
      //   font-family: 'Noto Sans KR';
      //   font-size: 23px;
      //   font-weight: 500;
      //   line-height: 33px;
      //   text-align: center;
      //   color: #7E7E7E;
      // }
    }

    &__button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0px;
      gap: 13px;

      height: 120px;
    }

    &__img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px;
      gap: 10px;
    }
  }
}

// .select-button {
//   width: 167px;
//   height: 65px;
//   box-sizing: border-box;
//   background: #111111;
//   border: 1px solid #777777;
//   border-radius: 10px;
//   font-family: 'Noto Sans KR';
//   font-style: normal;
//   font-weight: 500;
//   font-size: 18px;
//   line-height: 26px;
//   display: flex;
//   align-items: center;
//   color: #d6d6d6;
//   padding-left: 15px;
// }

.low-price-setting {
  width: 347px;
  height: 99px;
  border: 0;
  padding: 0;

  background: #140F4E;
  border-radius: 10px;
  font-family: 'Noto Sans KR';
  font-size: 23px;
  font-weight: 500;
  color: #FFFFFF;
}

.search-item {
  width: 347px;
  height: 99px;
  border: 0;
  padding: 0;

  background: #8F5F44;
  border-radius: 10px;
  font-family: 'Noto Sans KR';
  font-size: 23px;
  font-weight: 500;
  color: #FFFFFF;
}